<div class="card text-center">
    <div class="card-body">
<h1>About page</h1>
<p>This is page about application PD422</p>
<button type="button" class="btn btn-danger" onclick="alert('Hello world')">Danger</button>
</div>

</div>
