@model DataAccess.Entities.Product


<form asp-action="Create" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" type="number" class="form-control">
    </div>
    
    <div class="col-12">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="d-flex gap-2">

    <div class="col-6">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </div>
    </div>
</form>